body {
    background-color: grey;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: red;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    padding: 20px;
    text-align: center;
}